.id {
    flex-basis: 5%;
}

.coordinates {
    flex-basis: 10%;
}

.title {
    flex-basis: 25%;
}

.content {
    flex-basis: 30%;
}

.address {
    flex-basis: 30%;
}

.point {
    display: flex;
    flex-direction: row;
}