.id {
    flex-basis: 5%;
}

.coordinates {
    flex-basis: 10%;
}

.title {
    flex-basis: 25%;
}

.content {
    flex-basis: 30%;
}

.address {
    flex-basis: 25%;
}

.recycle_cities_id {
    flex-basis: 5%;
}

.point {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: 0.25px solid rgba(0,0,0,0.1);
    margin-bottom: 4px;
    justify-content: space-between;
    font-weight: 300;
    font-size: 15px;
}