.manipulate-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;

    cursor: pointer;
    height: 14px;
}

.edit-button {
    background: transparent url("../manipulate/images/pencil.png") no-repeat;
    width: 14px;
}

.remove-button {
    background: transparent url("../manipulate/images/delete.png") no-repeat;
    width: 11px;
}

.edit-button:hover {
    background: transparent url("../manipulate/images/pencil_blue.png") no-repeat;
}

.remove-button:hover {
    background: transparent url("../manipulate/images/delete_red.png") no-repeat;
}